* {
  box-sizing: border-box;
  font-family: "Open Sans";
  color: #bbb;
}

html {
  margin: 0px;
  padding: 0px;
  background-image: url(../img/stardust.png);
}

body {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
}

textarea, input {
  max-width: 600;
  width: 100%;
  border: none;
  border-bottom: 2px solid #0C9;
  padding: 0;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  font-size: 1.5em;
  font-weight: bold;
}

textarea {
  background-color: rgba(255, 255, 255, 0.05);
  display: block;
  vertical-align: top;
  padding: 0.25em;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

button {
  width: 60px;
  height: 60px;
  background-color: #0C9;
  color: #FFF;
  border-radius: 50px;
  border: none;
  text-align: center;
  box-shadow: 2px 2px 3px #333;
  font-size: 2em;
  font-weight: bold;
}

button svg {
  padding-top: 0.25em;
}

path {
  fill: white;
}

.color-1 {
  background-color: #FED833;
  color: #333;
}

.color-2 {
  background-color: #59B8FE;
  color: #333;
}

.color-3 {
  background-color: #FE6B33;
  color: #333;
}

.color-4 {
  background-color: #A666FE;
  color: #333;
}

.color-5 {
  background-color: #33FEC2;
  color: #333;
}

.color-6 {
  background-color: #EA33FE;
  color: #333;
}

#header {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: #0C9;
  box-shadow: 2px 2px 3px #333;
  width: 100%;
  color: white;
  padding: 0.75em;
  font-size: 1.25em;
  font-weight: bold;
}

#loader-error {
  position: absolute;
  left: 0px;
  top: 50%;
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
  color: #b55;
}

#message {
  position: absolute;
  left: 10%;
  top: 50%;
  width: 80%;
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
  color: white;
}

#app {
  margin-top: 3em;
}

/*** top bar ***/

#notifications {
  position: fixed;
  top: 0px;
  left: 3.5em;
  background-color: rgba(0, 204, 153, 0.75);
  color: #FFF;
  border-radius: 50px;
  border: none;
  /*box-shadow: 2px 2px 3px #333;*/
  font-size: 2em;
  font-weight: bold;
  padding-left: 0.5em;
  padding-right: 0.5em;
  margin-top: 0.125em;
  margin-left: -0.5em;
}

#spinner {
  animation: spinspin 0.2s infinite linear;
}

@keyframes spinspin {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}

#error-messages {
  font-size: 0.75em;
  color: #b55;
}

/*** settings page ***/

#menu-button {
  position: absolute;
  top: 0.25em;
  right: 0.5em;
}

#settings-back {
  font-size: 3em;
  font-weight: bold;
  color: white;
  margin-top: -0.25em;
}

#burger-menu-items > div {
  margin-bottom: 0.5em;
  margin-top: 0px;
}

#burger-menu-items button {
  float: right;
}

#burger-menu-items h3 {
  margin-top: 2em;
  margin-bottom: 0px;
}

#burger-menu-items .event a {
  text-decoration: none;
}

#add-event {
}

#add-event-name {
  width: 70%;
  margin-top: 0.75em;
}

.event-csv span {
  font-size: 1.5em;
}

/*** main ***/

#timestamp {
  margin-bottom: 2em;
}

#timestamp input {
  width: 70%;
  margin-top: 1em;
  font-size: 1.25em;
}

#timestamp button {
  float: right;
}

.event {
  color: white;
  text-align: left;
  width: 100%;
  font-size: 1.5em;
  border-bottom: 1px solid #666;
  padding: 0px;
  margin: 0px;
  padding-top: 1em;
  padding-bottom: 0.5em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  padding-left: 0.5em;
}

.event span.event-csv {
  float: right;
  margin-right: 2em;
}

.event span {
  color: white;
}

.event button {
  margin-top: -0.75em;
  float: right;
  font-size: 1.25em;
  color: #444349;
}

.event span {
}

.event path {
  fill: #444349;
}

#success-modal {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: #0c9;
  color: white;
  font-weight: bold;
  font-size: 2em;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

#success-modal svg {
  position: relative;
  margin-right: 0.25em;
}
